/* menu styling desktop + mobile */
header {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    text-align: center;

    /* tempwidth */
    width: 75%;
}
/* footer styling desktop + mobile */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    /* temp width */
    width: 75%;
    margin: 0 auto;
}

/* unique */

#header-list {
    list-style: none;
    padding: 0;
}

.footer-section {
    flex: 1;
}
#footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style: none;
}
#footer-list li::before {
    content: "-";
}
#footer-contact-icon-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

/* temp breakpoint */
@media screen and (min-width: 1000px) {
    /* header {
        text-align: start;
        justify-content: start;
    } */
    footer {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        text-align: start;
    }
    #footer-list {
        align-items: flex-start;
    }
    #footer-contact-icon-link {
        justify-content: start;
    }
}