#evenementen-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--padding-gap-primary);
}

/* Container voor de program items zelf */
#evenementen-container > section:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--padding-gap-primary);
}

/* Container voor de filterknoppen */
#evenementen-container > section:nth-of-type(2) {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 15px;
}

/* Container voor de paginacontrols */
#evenementen-container > section:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

#evenementen-container > section:last-of-type img {
  display: inline;
  width: 3vw;
  height: auto;
  align-self: center;
}

#evenementen-container > section:last-of-type span {
  align-self: center;
  margin-bottom: 5px;
}

#evenementen-container > section > button {
  align-self: center;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  #evenementen-container > section:nth-of-type(2) {
    flex-flow: row nowrap;
    gap: 20px;
  }

  #evenementen-container > section:nth-of-type(3) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--padding-gap-primary);
  }

  #evenementen-container > section:last-of-type {
    justify-content: flex-end;
  }

  #evenementen-container > section:last-of-type img {
    width: 15px;
  }

  #evenementen-container > section:last-of-type span {
    font-size: 1.2em;
  }
}
