#page-footer {
	background-color: var(--color-secondary);
	border-top: var(--border-primary);
	padding: var(--padding-gap-primary);
	box-shadow: var(--shadow-top);
	display: flex;
	justify-content: center;
}

#page-footer *:not(input) {
	color: var(--text-color-contrast);
}

#page-footer .footer-content {
	display: flex;
	flex-direction: column;
	width: fit-content;
	gap: var(--padding-gap-primary);
}

.footer-col {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--padding-gap-primary);
	width: fit-content;
	margin: 0 auto;
	text-align: center;
}

@media screen and (min-width: 1000px) {
	#page-footer {
		padding: var(--padding-gap-secondary);
	}

	#page-footer .footer-content {
		flex-direction: row;
		gap: var(--padding-gap-secondary);
	}

	.footer-col {
		align-items: start;
		text-align: start;
		max-width: 33.3%;
	}
}
