main {
	display: flex;
	flex-direction: column;
	gap: var(--padding-gap-primary);
}

.border-content {
	border: var(--border-primary);
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.contact-content,
.form-row {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contact-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.form-row,
.form-row2,
textarea,
#submit {
	width: 100%;
}

input,
textarea,
textarea::placeholder {
	color: var(--color-accent);
	font-family: 'azeret-mono', monospace;
}

input,
textarea {
	width: 100%;
	padding: 1em;
}

textarea {
	padding-left: 2em;
}

.error {
	color: red;
	margin-top: 1em;
}

@media screen and (min-width: 1000px) {
	.contact-form {
		align-items: normal;
	}
	.form-row {
		flex-direction: row;
	}
	.error {
		text-align: left;
	}
}
