.border-content {
	border: var(--border-primary);
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 4em;
}

.contact-content p:first-child {
	margin-bottom: 2em;
}

.contact-form {
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
}

.form-row {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.form-row,
textarea {
	width: 100%;
}

.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form textarea {
	padding: 1em 1em 1em 0;
	width: 100%;
}

textarea::placeholder {
	color: var(--color-accent);
	padding-left: 1em;
}

.contact-form input[placeholder],
textarea::placeholder {
	font-family: 'azeret-mono', monospace;
	font-size: var(--font-size-l);
}

.contact-form input[type='submit'] {
	background-color: var(--color-accent);
	color: white;
	padding: 1em 5em 1em 5em;
	border: solid white 3px;
	font-weight: bold;
	cursor: pointer;
}

ol {
	list-style-type: none;
}

.error {
	color: red;
}

.form-row2 {
	width: 100%;
}

.form-row2 > p {
	margin-top: 1em;
}

@media screen and (min-width: 1000px) {
	.contact-form {
		align-items: normal;
	}
	.form-row {
		flex-direction: row;
	}
	.contact-form input[type='submit'] {
		width: 100%;
	}
	.error {
		text-align: left;
	}
}
