#welkom-text {
	color: var(--color-accent);
	font-weight: bold;
	margin-top: 25px;
}

.highlight {
	color: var(--color-accent);
	font-weight: bold;
}

#page-content-container {
	font-size: var(--font-size-l);
}

#content-main-section {
    gap: 0;
}

#home-image {
	flex: 0 0 67%;
	max-width: 928px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

#wie-we-zijn {
	margin: 18px 0px 18px 0px;
}

#main-text, #main-text-2 {
	padding: var(--padding-gap-primary);
	background-color: var(--color-secondary);
	font-size: var(--font-size-m);
	border: var(--border-primary);
}

#main-text-2 h1 {
	margin-bottom: 30px;
}

#overOnsBtn {
	text-align: center;
}


#lees-meer-content {
	display: flex;
	flex-direction: column;
	gap: var(--padding-gap-primary);
}
h2 {
	font-size: var(--font-size-xl);
}
.home-content-section {
	border: 5px solid var(--color-accent);
	background-color: var(--color-secondary);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	padding: var(--padding-gap-primary);
	flex-direction: column;
}

@media screen and (min-width: 1684px) and (max-width: 1300px){
	#main-text h2 {
		font-size: 20px;
	}
}

@media screen and (min-width: 1000px) {
	#content-main-section {
		display: flex;
		flex-direction: column;
	}
	#content-main-section > section {
		display: flex;
		flex-direction: row;
	}
    #home-image {
		border: var(--border-primary);
    }
    .home-section-1 {
        gap: var(--padding-gap-primary);
		display: flex;
    }
	#main-text {
		text-align: start;
		width: 47.4%;
	}
	#lees-meer-content {
		gap: var(--padding-gap-primary);
		flex-direction: row;
		margin-bottom: 18px;
	}
	.home-content-section {
		flex: 1;
	}
	#main-text h2 {
	font-size: 31px;
	}
	#main-text h2,
	#main-text p {
		margin-top: 40px;
	}
	.hide {
		margin-top: 15px;
	}

	#main-text p {
		font-size: 30px;	
	}
}

@media screen and (max-width: 1000px) {
	#main-text {
		padding-left: var(--padding-gap-primary);
		padding-top: 12px;
	}
	#main-text h2 {
		margin-top: 5px;
		margin-bottom: 5px;
		line-height: 1.2;
		width: 100%;
		white-space: nowrap;
		font-size: 22px;
		text-align: left;
	}
	#main-text-2 h1 {
		font-size: 28px;
	}
	#main-text p {
		margin-bottom: 15px;
		text-align: left;
	}
	#main-text-2 p,
	.home-content-section p {
		text-align: left;
		margin-left: 7px;
	}
	#overOnsBtn {
		margin-top: 30px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.hide {
		display: none;
	}
	#home-image {
		border: var(--border-primary);
		margin-bottom: 25px;
	}
}

