#page-content-container {
	font-size: var(--font-size-l);
}
#content-main-section {
	border: var(--border-primary);
}
#content-header {
	border: none;
}
#home-image {
	width: 100%;
	height: auto;
	border-top: var(--border-primary);
}
#main-text {
	border-top: var(--border-primary);
	text-align: center;
	padding: var(--padding-gap-primary);
}
#lees-meer-content {
	display: flex;
	flex-direction: column;
	gap: var(--padding-gap-primary);
}
h2 {
	font-size: var(--font-size-xl);
}
.home-content-section {
	border: 5px solid var(--color-accent);
	background-color: var(--color-primary);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	padding: var(--padding-gap-primary);
	flex-direction: column;
}

@media screen and (min-width: 1000px) {
	#content-main-section {
		display: flex;
		flex-direction: column;
	}
	#content-main-section > section {
		display: flex;
		flex-direction: row;
	}
	#main-text {
		text-align: start;
		border-left: var(--border-primary);
	}
	#lees-meer-content {
		gap: var(--padding-gap-primary);
		flex-direction: row;
	}
	.home-content-section {
		flex: 1;
	}
}
