main {
	text-align: center;
}
main > section {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
#info-image {
	margin: 0 auto;
}
#meeting-form,
#form-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
}
input,
textarea {
	padding: 1em;
	width: 100%;
}
#info-submit {
	width: 80%;
}
input,
textarea,
textarea::placeholder {
	color: var(--color-accent);
}

.border-content {
	border: var(--border-primary);
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

@media screen and (min-width: 1000px) {
	main {
		text-align: start;
	}
	#info-image {
		margin: 0 0;
	}
	#form-section {
		flex-direction: row;
	}
}
