.border-content {
	border: var(--border-primary);
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

main {
	text-align: center;
	font-size: var(--font-size-l);
}

main > section {
	display: flex;
	flex-direction: column;
	gap: var(--padding-gap-primary);
}

#info-image {
	margin: 0 auto;
}
#meeting-form,
#form-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
}
input,
textarea {
	padding: 1em;
	width: 100%;
}

textarea {
	padding-left: 2em;
}

#info-submit {
	width: 100%;
}

input,
textarea,
textarea::placeholder {
color: var(--color-accent);
}

/* Waarschijnlijk nodig? */
input[type='text'],
input[type='email'],
input[type='number'] {
	font-family: 'azeret-mono', monospace;
}

.error {
	color: red;
	margin-top: 1em;
}

/* Deze kan weg? */
.form-row2 {
	width: 100%;
}

.form-row2 > p {
	margin-top: 0.8em;
}

@media screen and (min-width: 1000px) {
	main {
		text-align: start;
	}
	#info-image {
		margin: 0 0;
	}
	#form-section {
		flex-direction: row;
		align-items: normal;
	}

  /* doet dit iets? */
	#meeting-form {
		align-items: normal;
	}
  