/* Checken of deze comments nog nodig zijn */
/*.news-article{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: var(--border-primary);
    background-color: var(--color-secondary);
}
.news-article-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news-article > img {
    width: 100%;
    border-bottom: var(--border-primary);
}
.news-article-sub > p {
    padding: 10px;
    text-align: center;
}
.news-article-sub > a {
    margin-bottom: 10px;
    width: 80%;
}*/

#news-articles {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

#news-articles > .program #info-grid > div {
	display: none;
}

.news-header {
	border: var(--border-primary);
}

@media screen and (min-width: 1000px) {
	#news-articles > .program .desktop-only {
		display: block;
		transform: translateX(-0.8vw);
	}
}