.news-article {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	border: var(--border-primary);
	background-color: var(--color-secondary);
}
.news-article-sub {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.news-article > img {
	width: 100%;
	border-bottom: var(--border-primary);
}
.news-article-sub > p {
	padding: 10px;
	text-align: center;
}
.news-article-sub > a {
	margin-bottom: 10px;
	width: 80%;
}
@media screen and (min-width: 1000px) {
	.news-article {
		flex-direction: row;
		gap: 0;
	}
	.news-article-sub {
		align-items: flex-start;
		justify-content: center;
		gap: 10px;
		border-left: var(--border-primary);
		height: 100%;
		padding: 2.5em;
	}
	.news-article-sub > p {
		text-align: start;
		padding: 0;
	}
	.news-article > img {
		height: 350px;
		width: auto;
		border: none;
	}
	.news-article-sub > a {
		width: 300px;
	}
}
